// == HEADER

.underline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    #f6bd3798 40%
  );
}

header {
  background-image: url("../images/headerImage.png");
  background-position-x: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;

  h1 {
    float: right;
    text-align: right;
    margin: 45vh 100px 0 0;
    padding-right: 60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: $secondaryFont;
    width: 100vw;
    background-color: black;
    color: #fff;
    font-weight: 800;
    font-size: 9rem;
  }
}

.introContainer {
  p {
    float: right;
    font-size: 3.2rem;
    line-height: 3;
  }

  button {
    @include buttonStyle;
    clear: both;
    float: right;
    margin-right: 450px;
    &:hover,
    &:focus {
      background-color: $secondary;
      color: $primary;
      border: 4px solid black;
      cursor: pointer;
    }
  }
}
