// == MAIN

.flex {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    .mainHead {
        h2 {
          font-size: 3.5rem;
          font-family: $secondaryFont;
          margin-top: 100px;
        }

        button {
          @include buttonStyle;
            &:hover,
            &:focus {
              background-color: $secondary;
              color: $primary;
              border: 3px solid $primary;
              cursor: pointer;
          }
        }
    }
}

.canvas {
  background: url('../assets/images/friesCanvas.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 700px;
  height: 500px;
  margin-top: 250px;
  position: relative;

    .imgContainer {
      display: none;
    }

    .ketchup {
      position: absolute;
      left: 25%;
      top: 12%;
      margin-right: 25%;
      rotate: 5deg;
    }

    .cheese {
      position: absolute;
      left: 17%;
      top: 0.2%;
      margin-right: 15%;
    }

    .peppers {
      position: absolute;
      max-width: 400px;
      left: 19%;
      top: 0;
      margin-right: 20%;
    }

    .onion {
      position: absolute;
      max-width: 440px;
      left: 18%;
      top: 6%;
      margin-right: 17%;
    }

    .iceCream {
      position: absolute;
      max-width: 300px;
      left: 27%;
      top: -10%;
      margin-right: 25%;
    }

    .sprinkles {
      position: absolute;
      top: 5%;
      left: 8%;
      margin-right: 8%;
    }

    .vaccine {
      position: absolute;
      max-width: 320px;
      left: 28%;
      top: 5%;
      margin-right: 23%;
    }

    .kitten {
      position: absolute;
      top: 8%;
      left: 15%;
      margin-right: 10%;
    }

    .sock {
      position: absolute;
      max-width: 450px;
      rotate: 8deg;
      left: 15%;
      top: 10%;
      margin-right: 15%;
    }

    .face {
      position: absolute;
      max-width: 300px;
      left: 27%;
      top: 0;
      margin-right: 26%;
    }
}